# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# macOS specific
.DS_Store

# VS Code and PyCharm specific
.vscode/
.idea/

# Python egg and distribution folders
*.egg-info/
dist/
build/
.eggs/

# Logs and coverage
*.log
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Test and debug files
*.bak
*.swp
*.tmp

# Other
*.sqlite3
*.db

# System files
Thumbs.db
Desktop.ini

# Frontend

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
